// Custom style here
#root {
  nav {
    .nav-wrapper {
      .input-field {
        label {
          i.material-icons {
            color: #000000;
          }
        } 
      }
    }
  }
  .collection {
    .collection-item {
      height: 126px;
      a {
        display: block;
        height: 100%;
        .thumbnails {
          float: left;
          margin-right: 15px;
          img {
            width: 80px;
          }
        }
      }
    }
  }
}