// Custom style here
#root {
  nav {
    .nav-wrapper {
      .input-field {
        label {
          i.material-icons {
            color: #000000;
          }
        } 
      }
    }
  }
  .collection {
    .collection-item {
      height: 80px;
      a {
        display: block;
        height: 100%;
        .thumbnails {
          float: left;
          margin-right: 15px;
          img {
            width: 80px;
          }
        }
      }
    }
  }

  .hs-responsive-embed {
    
    position: relative; 
    height: 0; 
    overflow: hidden; 
    padding-top: 0; 
    padding-left: 0; 
    padding-right: 0;
    
    }
    
    .hs-responsive-embed iframe, 
    .hs-responsive-embed object, 
    .hs-responsive-embed embed {
    
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    border: 0;
    
    }
    
    .hs-responsive-embed, 
    .hs-responsive-embed.hs-responsive-embed-youtube, 
    .hs-responsive-embed.hs-responsive-embed-wistia, 
    .hs-responsive-embed.hs-responsive-embed-vimeo { 
    
    padding-bottom: 56.25%;
    
    }
}